{% extends 'base.html.twig' %}

{% block title %}PhotoAlbums Home{% endblock %}
{% block description %}Crea, modifica y visualiza tus albumes de fotos desde cualquier sitio y dispositivo.{% endblock %}
{% block keywords %}fotos, album, visualiza, crea tus fotos, fotos en cualquier parte del mundo{% endblock %}

{% block body %}
<p>Este es el cuerpo de la home de la aplicación</p>
{% endblock %}
