<div class="container-fluid footerDiv">
    <div class="container">
        <div class="row">
            {{ footer }}
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="photoAllScreen" tabindex="-1" aria-labelledby="photoAllScreenLabel" aria-hidden="true">
    <div id="photoAllScreenModalDialog" class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <img id="photoFullScreen" src="" alt="photoFullScreen" height="100%" width="auto">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
    </div>
</div>