:root {
    --pr-color: #C2DED1;
    --se-color: #ECE5C7;
    --te-color: #CDC2AE;
    --cu-color: #354259;
    --base-black: #0C0B09;
    --base-white: #FCFAF7;
}
body {
    background-color: var(--base-white);
    color: var(--base-black);
}
body.registerLogin {
    background-color: var(--cu-color);
    color: var(--base-black);
}
a {
    text-decoration: none;
    color: var(--cu-color);
}
a:hover {
    color: var(--base-black);
}
.nav-link {
    color: var(--base-black);
}
.nav-link:hover {
    color: var(--base-black);
    font-style: italic;
}
.nav-link.active {
    color: var(--base-black);
    font-weight: 600;
}






.btn-primary {
    border-radius: 0;
    background-color: var(--pr-color);
    color: var(--base-black);
    font-weight: 600;
    border: var(--base-black);
    padding: .25rem 2rem;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:visited, .btn-primary:active {
    background-color: var(--se-color);
    color: var(--base-black);
}
button.swal2-styled.swal2-confirm {
    border-radius: 0;
    background-color: var(--pr-color);
    color: var(--base-black);
    font-weight: 600;
    border: var(--base-black);
    padding: .25rem 2rem;
    border: none;
}
button.swal2-styled.swal2-confirm:hover, button.swal2-styled.swal2-confirm:focus {
    background-color: var(--se-color);
    color: var(--base-black);
    box-shadow: none;
}



.bg-white {
    background-color: var(--base-white);
}
.bg-black {
    background-color: var(--base-black);
}
.co-white {
    color: var(--base-white);
}
.co-black {
    color: var(--base-black);
}
.text-right {
    text-align: right;
}







.headerDiv {
    padding: 1rem 2rem;
    background-color: var(--pr-color);
    border-bottom: 4px solid var(--se-color);
}
.footerDiv {
    padding: 1rem 2rem;
    background-color: var(--cu-color);
    border-top: 4px solid var(--te-color);
    color: var(--base-white);
}






