# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../albumCloud\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../:\xampp\htdocs\albumCloud\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
